:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --muted: 60 10% 93%;
  --muted-foreground: 0 0% 29%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 4%;

  --border: 60 17% 81%;
  --input: 0 0% 100%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 4%;

  --primary: 16 100% 50%;
  --primary-foreground: 0 0% 98%;

  --secondary: 240 5% 96%;
  --secondary-foreground: 240 6% 10%;

  --accent: 60 10% 93%;
  --accent-foreground: 0 0% 9%;

  --destructive: 0 85% 56%;
  --destructive-foreground: 0 0% 98%;

  --ring: 60 10% 84%;

  --radius: 0.5rem;
}

.dark {
  --background: 220 7% 9%;
  --foreground: 0 0% 90%;

  --muted: 240 4% 16%;
  --muted-foreground: 240 5% 60%;

  --accent: 240 4% 16%;
  --accent-foreground: 0 0% 98%;

  --popover: 240 10% 4%;
  --popover-foreground: 0 0% 98%;

  --border: 0 0% 20%;
  --input: 240 4% 16%;

  --card: 240 4% 11%;
  --card-foreground: 0 0% 98%;

  --primary: 16 100% 50%;
  --primary-foreground: 240 6% 10%;

  --secondary: 240 4% 16%;
  --secondary-foreground: 0 0% 98%;

  --destructive: 0 63% 61%;
  --destructive-foreground: 0 0% 98%;

  --ring: 60 10% 80%;

  --radius: 0.5rem;
}

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-background text-foreground antialiased;
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}

::-webkit-scrollbar {
  @apply h-1.5 w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-foreground/40 rounded-lg transition-colors;
}

::-webkit-scdrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  @apply bg-foreground/60;
}

:autofill {
  background: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
